$primary-color: #faa300;
$light-color: #fff;
$light-color-v2: #FCFAF1;
$dark-color: #343434;



.container-galery {
  width: 100%;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;

  .box-img {
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;

    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
}

#carouselExampleControls {
  height: 500px;
}

.carouseal-item-height {
  height: 100%;
}

.card.card-testimoni {
  width: 50%;
}

.profile-user {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: $light-color-v2;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info-user span {
  font-size: 14px;
}

/* Form Style */
.card-img-top {
  /* border-radius: 8px 8px 0 0; */
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

h4 {
  color: $primary-color;
}

.btn-pesan-sekarang{
    background-color: $primary-color;
}

.a-title-pesan{
    color: $light-color;
}

.card1{
    color: $light-color-v2; 
    background-image: url('https://i.pinimg.com/564x/64/0f/45/640f4556172f96cabada6e519ffbcce8.jpg'); 
    background-size: cover; 
    background-position: center; 
    box-sizing: border-box;
}

.gradasi{
    background-image:linear-gradient(to top, black, transparent);
}

.tgl-color{
    color: rgba(252, 250, 241, 0.8);
}

@media (max-width: 809px) {
  .btn-pesan-sekarang {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }

  .container-galery {
    columns: 2;
    column-gap: 10px;

    .box-img {
      margin-bottom: 10px;

      img {
        border-radius: 5px;
      }
    }
  }

  #carouselExampleControls {
    height: 700px;
  }

  .card.card-testimoni {
    width: 100%;
  }

  .rate svg {
    width: 22px;
  }

  .profile-user {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 810px) and (max-width: 1279px) {
  .container-galery {
    columns: 3;
  }

  .container-galery .box-img {
    margin-bottom: 10px;

    img {
      border-radius: 5px;
    }
  }

  #carouselExampleControls {
    height: 400px;
  }
}
